.DS_Store
node_modules
/dist

/tests/e2e/reports/
/tests/
selenium-debug.log
chromedriver.log
geckodriver.log


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# My set
.editorconfig 
babel.config.js
jsconfig.json
package-lock.json 
package.json 
README.md 
vue.config.js 

/public/
#/src/
/www/

/.monaca/*

/platforms

*.swp
.vscode/
typings/

/config.xml
/favicon.ico
/LICENSE

/css/